/*  index.css */

@charset "UTF-8";

/* @import url('Fonts: https://fonts.googleapis.com/css?family=???'); */
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

:root {
    /* Back */
    --background-back: rgb(240, 255, 255);
    --background-back: rgb(243, 220, 220);
    /*  Main  */
    --background-main: rgb(224, 255, 255);
    --background-main: rgb(221, 224, 224);
    --color-main: black;
    /* Content */
    --background-content: rgb(65, 218, 134);
    --border-radius: 0.20rem;
    /* --border-main: 
    --border-content:  */
    
    /*  Menu NavBar */
    --background-menu: rgb(135, 206, 235);
    --font-color: black;
    --font-color_hover: white;

    --brand-color: rgb(121, 136, 119);
    /* #5f788a */
    /* #485A75 */ 
    /*  SubMenu Nav */
    

    /*  Content */
    --colorTitle: black;
    --colorDiv: rgb(61, 68, 70);

    /*  Buttons  */
    --btnBackground: rgb(186, 198, 201);
    --btnColor: rgb(90, 107, 110);
    --btnBackgroundHover: rgb(166, 188, 192);
    --btnColorHover: rgb(255, 255, 255);
    
    --btnProp: rgb(233, 231, 231);
    --btnPropHover: white;
    --btnPropDisabled: rgb(92, 90, 90);

    /*  Select Filters-Sort  */
    --selBackground: rgb(180, 175, 175);
    --selColor: rgb(31, 27, 18);

    /*  Form */
    --formBackground: rgba(234, 240, 240, 0.993);

    /*  Inputs Form */

    --formLabelColor: rgb(51, 37, 37);
 
    --inputBackground: plum;
    --inputBackground: rgb(218, 202, 202);
    --inputBackgroundDisabled: rgb(184, 179, 179);

    --inputColor: rgb(240, 240, 240);

    --inputColorFocus: rgb(200, 228, 198);
    --inputColorFocus: plum;
    --inputColorFocus: black;

    --inputColorDisabled: lightgrey;

    --optionBackground: black;
    --optionColor: white;

    /*  Owner  */
    --ownerColor: lightblue;
    --ownerColorHover: white;
}
* {
    font-family: 'Dosis', sans-serif;
}    
html, body{
    margin: 0px;
    height: 99%;
    /* height: 100vw; */
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    /* font-family: Arial, Avenir, Helvetica, sans-serif;     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    background-color: var(--background-back);
    color: var(--color-main);
    margin-top: 0.2rem;
    line-height: 1rem;
    /* background-image: url("../../media/Rhombus_Pattern.jpg");   
    background-size: auto; */
    /* min-width: 360px; */
    /* border-radius: var(--border-radius) !important;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1024px;  */
    /* width: 100vw;
    height: 100vh; */

}
#app {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin: 0.62rem;
    padding: 0.31rem; 
    height: 98.5%; 
    background-color: var(--background-main);
    /* height: 600px;      */
} 

.main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 80%;
    height: 94%; 
    /* height: 600px;      */
}
div, form, input, table, nav {
    border-radius: var(--border-radius) !important;     
}
/* --- Utilidades Generales --- */
.table_overflow {
    overflow: auto;
}
.table_overflow_x {
    overflow-x: auto;
    overflow-y: hidden;
}
.table_overflow_y {
    overflow-x: hidden;
    overflow-y: auto;    
}
.text_overflow {
    text-overflow: ellipsis;    
}
/*  Alineamiento */
.align_left {
    text-align: left;
}
.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}

/*  Button */
.btn_1, .btn_viewPass  {
    background-color: var(--btnBackground) !important;
    color: var(--btnColor)  !important;
    border: 0.1rem 0.2rem;
    padding: 0.07rem 0.2rem;
  margin: 0 0.07rem;
    border-radius: var(--border-radius) !important;     
}
.btn_viewPass {
    margin: 0.3rem 0.07rem;   
    outline: none; 
}
.b-icon {
    margin: 0.1rem;
}
.btn_1:hover {
    background-color: var(--btnBackgroundHover) !important;
    color: var(--btnColorHover) !important; 
}
.btn_1:focus {
    box-shadow:  none;
}
.btn_1:active {
    transform: scale(.95);
    box-shadow:  none;
}

.void {
    color: rgb(160, 110, 110);
}
.bold {
    font-weight: 600;
}
.num-sellos, .num-firmas {
    margin-left: 3px;
    background-color: whitesmoke;
    color: lighgray;
    border: 1px solid rgb(151, 150, 150);
  }
input:focus{ outline: none; }  

/* -------- -- Media Queries --------*/
@media (min-width: 576px) {   /* xs */
    /* html{
        font-size: 12px;
    }
    body {
        background-color: comflowerblue;
    
    } */
    
}  /*  End xs */
    
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { /* sm */        
    html {
        font-size: 13px; 
    }
    body {

    }
} /*  End sm */

   
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { /* md */
    html {
        font-size: 14px; 
    }
    body {
        /* background-color: salmon;   */

    }
}  /*  End md */
    
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  /* lg */
    html {
        font-size: 15px; 
    }
    body {
        /* background-color: cadetblue;   */    
    }

}  /*  End lg */  

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  /* xl */
html {
    font-size: 16px; 
}
body {
    /* background-color: silver;   */

}
      
}   /*  End xl */