/* Table */

@charset "UTF-8";

:root {
    --flecha: 0.33rem;
}

table {
    /* width: 400px; */
    /* height: 600px; */

    /* width: 100%; */
    border-collapse: collapse;
    background-color: transparent;
    border-spacing: 0.214rem;   /*  espaciado entre  celdas */
    /* border: 1px solid black; */
    /* empty-cells: show; */
 
}
thead {
    background-color: inherit;
    /* position: static; */
   
}
thead > tr {
    background-color: rgb(194, 192, 192);
    background-color: silver;
    cursor: pointer;
    height: 2rem;
    font-weight: 400;
    border: 1px solid blue;
    border-radius: var(--border-radius) !important;   
}
tbody tr {
    height: 1.7rem;   
   
   
}
thead tr th {
    /* position: fixed; */

}
tr th {
 
    font-weight: 500 !important;
    order: 1px solid blue; /* test */
}
th {
    user-select: none;
}
th:hover {
    color: black; 
}
th.active {
    color: blue;
}
tbody { 
    /* overflow-y: scroll; */
}


tbody tr {
    height: 1.1rem !important;
    vertical-align: center !important; 

}
thead tr th, tbody tr td {
    vertical-align: middle;
}
/* table:nth-child(odd) {
    fila impar
background-color: #E0DAE9;
} 
table:nth-child(even) {
    fila par
background-color: #DBE9E7;
} */
 
.t_options {
    border-top: none;
    border-right: none;
    border-left: none;

}

/*  */
.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: var(--flecha);
    opacity: 0.66;
    opacity: 0.80;
}
.noarrow{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: var(--flecha);
    border: var(--flecha) solid transparent;
}
  
.arrow.asc {
    border-left: var(--flecha) solid transparent;
    border-right: var(--flecha) solid transparent;
    border-bottom: var(--flecha) solid #fff;
}

.arrow.dsc {
    border-left: var(--flecha) solid transparent;
    border-right: var(--flecha) solid transparent;
    border-top: var(--flecha) solid #fff;
}
  /*  End */